body
{
    background: linear-gradient(to bottom, yellow 0%, #ff99cc 100%);
    text-align:center;
    padding: 6cm;
    border-color:linear-gradient(to bottom, hsl(96, 68%, 55%) 0%, #ff99cc 100%);
    border-style:solid;
    border-width: .4cm;
}

input{
    border-radius: 5%;
    padding: 2%;
    background-color: white;
    border-style: solid;
    border-color: black;

}
button
{
    background: linear-gradient(to bottom, blue 0%, hsl(331, 41%, 72%) 100%);
    border-radius: 5%;
}
a{
    font-size: xx-large;
    font-weight: bolder;
}
