body
{
    background: linear-gradient(to bottom, #9ecebe 0%, #57caca 100%);
    text-align:center;
    padding: 6cm;
    border-color:linear-gradient(to bottom, #9ecebe 0%, #57caca 100%);
    border-style:solid;
    border-width: .4cm;
}

input{
    border-radius: 5%;
    padding: 2%;
    background-color: white;
    border-style: solid;
    border-color: black;

}
button
{
    background: linear-gradient(to bottom, #66CDAA 0%, white(331, 41%, 72%) 100%);
    border-radius: 5%;
}
a{
    font-size: xx-large;
    font-weight: bolder;
}
